.filterContainer {
    width: 300px;
    display: flex;
    justify-content: space-between;

}


.select_box__container {
    width: 100%;
    overflow: hidden;
}

.select_box__box {
    width: 122px;
    height: 35px;
    background: #F5F6F8 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

.select_box__box_active {
    width: 122px;
    height: 35px;
    position: relative;
    border-radius: 2px 2px 0px 0px;
    background: #F5F6F8 0% 0% no-repeat padding-box;
}

.select_box__selected_item {
    display: inline-block;
    font-size: 16px;
    color: #757575;
    vertical-align: middle;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
}

.select_box__items {
    background-color: #fff;
    border-radius: 2px;
    left: -1px;
    max-height: 300px;
    overflow: auto;
    position: absolute;
    top: 36px;
    width: inherit;
    z-index: 6;
    box-shadow: 0px 2px 2px #00000029;
}

.select_box__items div {
    cursor: pointer;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 6px;
    font-size: 16px;
    border-bottom: 1px solid #BFBFBF
}

.select_box__arrow {
    width: 30px;
    height: 20px;
    display: block;
    float: right;
    cursor: pointer;
    margin-top: 4px;

}

.select_box__arrow_down {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid red;
}

.select_box__arrow_up {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid red;

}

.select_box__items div:hover {
    background-color: #F5F6F8;
}

.select_box__items div:last-child {
    border-bottom: 2px solid transparent;
}


.userContainer {
    display: flex;

    .userBox {
        display: inline-block;
        position: relative;
        outline: 0px;

        .userdetails {
            height: 32px;
            width: 32px;
            -webkit-box-align: stretch;
            align-items: stretch;
            background-color: #FFFFFF;
            border-radius: 50%;
            box-sizing: content-box;
            cursor: inherit;
            display: flex;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            outline: none;
            overflow: hidden;
            position: static;
            transform: translateZ(0px);
            transition: transform 200ms ease 0s, opacity 200ms ease 0s;
            box-shadow: 0 0 0 2px #FFFFFF;
            border: none;
            padding: 0px;
            font-size: inherit;
            font-family: inherit;

            .userImage {
                border-radius: 50%;

            }
        }
    }
}

.userdetails2 {
    height: 32px;
    width: 32px;
    -webkit-box-align: stretch;
    align-items: stretch;
    background-color: #E5E5E5;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    overflow: hidden;
    position: static;
    transform: translateZ(0px);
    transition: transform 200ms ease 0s, opacity 200ms ease 0s;
    box-shadow: 0 0 0 2px #FFFFFF;
    border: none;
    padding: 0px;
    font-size: inherit;
    font-family: inherit;
    text-align: center;

    span {
        width: 31px;
        margin-top: -2px;
    }
}

.userBox2 {
    width: 200px;
    height: 200px;
    display: block;
    box-sizing: border-box;
    z-index: 400;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
    overflow: auto;
    margin-left: 72px;
    margin-top: 10px;

    .user {
        padding: 10px 15px;
    }

    .user2 {
        display: flex;

        img {
            height: 24px;
            width: 24px;
            margin-left: 10px;
        }

        span {
            margin-left: 10px;
        }
    }
}