.filterContainer {
    display: flex;
    justify-content: right;
    width: 1605px;

}

.filterSelect {
    display: flex;
    justify-content: space-between;
    width: fit-content;

    .text {
        color: #42526E;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        width: 80px;
        margin-top: 6px;
    }
}

.select_box__container {
    width: 100%;
    overflow: hidden;
}

.select_box__box {
    width: 122px;
    height: 35px;
    background: #F5F6F8 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

.select_box__box_active {
    width: 122px;
    height: 35px;
    position: relative;
    border-radius: 2px 2px 0px 0px;
    background: #F5F6F8 0% 0% no-repeat padding-box;
}

.select_box__selected_item {
    display: inline-block;
    font-size: 16px;
    color: #757575;
    vertical-align: middle;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
}

.select_box__items {
    background-color: #fff;
    border-radius: 2px;
    left: -1px;
    max-height: 300px;
    overflow: auto;
    position: absolute;
    top: 36px;
    width: inherit;
    z-index: 6;
    box-shadow: 0px 2px 2px #00000029;
}

.select_box__items div {
    cursor: pointer;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 6px;
    font-size: 16px;
}

.select_box__arrow {
    width: 30px;
    height: 20px;
    display: block;
    float: right;
    cursor: pointer;
    margin-top: 4px;

}

.select_box__arrow_down {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid red;
}

.select_box__arrow_up {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid red;

}

.select_box__items div:hover {
    background-color: #F5F6F8;
}

.select_box__items div:last-child {
    border-bottom: 2px solid transparent;
}