.TableContainer {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    min-height: 665px;

    .TableList {
        width: 255px;
        height: auto;
        background: #F4F5F7 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        display: flex;
        flex-direction: column;
        margin: 8px;

        .columnName {
            margin-top: 16px;
            margin-left: 21px;
            font-size: 16px;
            letter-spacing: 0px;
            color: #42526E;
            font-weight: 600;
        }
    }
}

.taskName {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.taskDescription {
    color: #000000;
    font-size: 13px;
    height: 59px;
    overflow: hidden;
}

.taskDetails {
    display: flex;
    justify-content: space-between;
    color: #6D6D6D;
    margin-top: 5px;

    .imgWithProjectKey {
        display: flex;
        justify-content: space-between;

        .key {
            margin-left: 5px;
            font-size: 14px;
        }

    }
}

.userBox {
    width: 93px;
    display: flex;
    justify-content: space-between;

    img {
        width: 24px;
        height: 24px;
        cursor: default;
    }

    .priorityImg {
        width: 10px;
    }
    .blankDiv{
        width: 24px;
        height: 24px;
    }
}

.userBoxActive {
    width: 100px;
    display: flex;

    img {
        width: 24px;
        height: 24px;
        cursor: default;
    }

    .priorityImg {
        width: 10px;
    }   
    .blankDiv{
        width: 24px;
        height: 24px;
    }
}

.inputBox {
    width: 50px;
    height: 22px;
    border: 2px solid blue;
    font-size: 12px;
    outline: none;

}

.partitionBox {
    width: 50px;
    background-color: lightgray;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 18px;
    margin-top: 4px;
    cursor: pointer;

    .originalEstimate {
        width: 21px;
        height: auto;
        border-radius: 8px 0px 0px 8px;
        font-size: 12px;
    }

    .actualEstimate {
        width: 25px;
        height: auto;
        border-left: 2px solid #E5E5E5;
        border-radius: 0px 8px 8px 0px;
        font-size: 12px;
    }

    .InProgress {
        width: 25px;
        height: auto;
        border-radius: 0px 8px 8px 0px;
        background-color: blue;
        color: #FFFFFF;
        font-size: 12px;
    }

    .Done {
        width: 25px;
        height: auto;
        border-radius: 0px 8px 8px 0px;
        background-color: green;
        color: #FFFFFF;
        font-size: 12px;
    }

}