.TableContainer {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    min-height: 665px;

    .TableList {
        width: 255px;
        height: auto;
        background: #F4F5F7 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        display: flex;
        flex-direction: column;
        margin: 8px;

        .columnName {
            margin-top: 16px;
            margin-left: 21px;
            font-size: 16px;
            letter-spacing: 0px;
            color: #42526E;
        }
    }
}

.taskName{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}
.taskDescription{
    color: #000000;
    font-size: 13px;
}
.taskDetails{
    display: flex;
    justify-content: space-between;
    color: #6D6D6D;
    margin-top: 48px;
}